.sidebar {
    
    background-color: #3072db;
    height: 100px;
    min-width: 200px;
    }

.searchBar {
    margin-top: 20px;
}
    @media (min-width: 576px) { 
        .sidebar {
        
        background-color: #3072db;
        height: 100vh;
        width: 200px;
        }
      }